<%- include('./header2.ejs') %>

 <!--banner image-->
 <div class="container-fluid m-0 p-0">
    <img src="image/banner8.jpeg" class="w-100" height="500px" alt="banner5">
</div>
<!--banner image end-->

<!--benefits start-->

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="text-center heading">
                <span style="color: #95c3c2;">Grivance</span>
                redressal system
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h1 class="heading">Benefits</h1>
        <div class="udline"></div>
        <p class="paragraph">
            The mechanism for online registration and disposal of grievances enables a complainant to express
            feelings by initiating and pursuing the grievance procedure in accordance with the rules and regulations
            of the institution. The main advantage of the portal is to prevent unfair practices in higher education
            institutions and provide effective mechanism for redressal of the grievances. It also helps the
            grievance cell member to enquire and analyse grievance in a strictly confidential yet transparent
            manner.
        </p>

        <ul class="list1" style="margin-bottom: 40px;">
            <li>Provides security for affected person to participate without fear of intimidation or retribution
            </li>
            <li>It provides a fair and speedy means of grievance handling.</li>
            <li>Shows clarity in procedures, processes, and time frames adopted</li>
            <li>The affected person need not consult grievance cell members directly to register complaints</li>
            <li>Saves time of affected person and cell members</li>
            <li>Automates entire grievance procedure right from its registration to closure</li>
            <li>Greater confidentiality and transparency in complaints dealing procedure</li>
            <li>Advantage over paper-based systems</li>
            <li>Alerts users immediately on the grievance, action taken etc.</li>
            <li>Round the clock availability</li>
            <li>Builds harmonious education atmosphere in campus</li>
            <li>Is in compliance with existing systems without undermining them</li>
        </ul>


    </div>
</div>

<!--benefits end-->


<%- include('./footer.ejs') %>