<%- include('./header2.ejs')  %>

 <!--banner image-->
 <div class="container-fluid m-0 p-0">
    <img src="image/banner7.jpeg" class="w-100" height="500px" alt="banner5">
</div>
<!--banner image end-->

<!--features start-->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="text-center heading">
                <span style="color: #95c3c2;">Grivance</span>
                redressal system
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h1 class="heading">Features</h1>
        <div class="udline"></div>
        <p class="paragraph">
            The Grievance Redressal System is a technology enabled grievance redress platform inbuilt with a
            mechanism where suggestions for improvement of teaching-learning and other related matters of the
            institution directly or indirectly evolve. Through online grievance redressal, institutions can employ a
            set of specific measures to ensure accountability and maximum output, increasing transparency in the
            grievance handling procedure thereby establishing a very positive ambience. Grievances can be lodged for
            a variety of reasons like admission process in totality including reservation policy, discrimination of
            students on the basis of caste, age, sex and race, examination process, non-declaration of results, lack
            of amenities, non-payment of scholarships, victimization of students and sexual harassment cases etc.
        </p>
        <h3 class="heading">Complainants’ Interface </h3>
        <ul class="list1">
            <li>Lodge grievances by students, teachers, parents and other staff</li>
            <li>View status of the complaints posted</li>
            <li>View the reply for the complaint posted</li>
            <li>Reopen the grievance case for further investigation</li>
            <li>Detailed account of the grievance in not less than 4000 words</li>
        </ul>
        <h3 class="heading">Admin Interface</h3>
        <ul class="list1">
            <li>Add grievance cell members</li>
            <li>Create and monitor accounts of grievance cell members.</li>
            <li>Verify and approve registered users(complainants)</li>
            <li>Add details of the institution and a management representative</li>
            <li>View complaints sent by the users</li>
        </ul>
        <h3 class="heading">Grievance Cell Member Interface</h3>
        <ul class="list1" style="margin-bottom: 40px;">
            <li>Option to view complaints sent by the user</li>
            <li>Send reply to the complaints along with attachments, if any</li>
            <li>View reminders on pending complaints</li>
            <li>Generate report on the total/pending/closed complaints, assigning start and end date</li>
            <li>Edit and reset profile</li>
        </ul>

    </div>
</div>

<!--features end-->


<%- include('./footer.ejs')  %>